body {
   background-image: url('../images/paint-brush-3607521_1920.jpg');
   background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
 
 }
 
.artistcontent{
margin: 0 auto;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
}

.artistcontent :hover{
   transform:scale(1.04);
}

.artistcontent img{
margin-top: 100px;
margin-left: 200px;
width:300px;
float: left;
}

.artistcontent a{
text-decoration: none;
}


.artistcontent p{
   font-size: 30px;
   margin-right: 50px;
}

